# Node environment (development, production, etc.)
NODE_ENV = "development" 
# The mongoose url components, you can get it from mongodb
MONGODB_PASSWORD = "admin"
MONGODB_USERNAME = "admin"
MONGODB_DB_NAME = "Cluster0"
# The encryption key used for crypto library
ENCRYPTION_KEY = ""
# The Application port
PORT = 3000
# key used for passport sessions
PASSPORT_SECRET = ""
# cors whitelist url
CORS_WHITELIST_URL = ""
# strie API keys
STRIPE_PUBLISHABLE_KEY = your_publishable_key
STRIPE_SECRET_KEY = your_secret_key
# jwt token secret
JWT_SECRET = "something"
# Email smtp config
SMTP_SERVICE = ""
SMTP_USER = "your_email@gmail.com"
SMTP_PASS = "yourpassword"
# Supabase config
SUPABASE_URL = "https://your-project.supabase.co"
SUPABASE_KEY = "your-supabase-key"
# Google OAuth2 config
GOOGLE_CLIENT_ID = "your-google-client-id"
GOOGLE_CLIENT_SECRET= "your-google-client-secret"
SUCCESS_URL_GOOGLE_CALLBACK = "exampleurl"
FAILURE_URL_GOOGLE_CALLBACK = "exampleurl"
VERIFY_REGISTRATION_URL_GOOGLE_CALLBACK = "exampleurl"